<!DOCTYPE html>
<html lang="en">
<head>
    <title>jobsack</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style type="text/css">
        #title{
            font-family: serif;
            font-weight: bold;
            font-style: italic;
        }
        
        }
        .content {
          max-width: 500px;
          margin: auto;
        }
        
    </style>
</head>
<body>
<div class="container-sm" id="whole_page">
    <h1 id="title" class="text-center mt-2 mb-2">
        Jobsack
    </h1>
    <img id= "banner" src = 'https://cdn.phenompeople.com/CareerConnectResources/HILTGLOBAL/images/WEBSITE-BANNER-01-1659728684358.jpg' class="img-fluid mt-2 mb-2" >
    <h2 class="text-center fs-4">
        About us
    </h2>
    <p class="lead text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <h3 id="Openings" class="text-center">
        Openings
    </h3>
    <div>
        {% for jobs in job %}
            
            {% include 'joblisting.html' %}

        {% endfor %}
    </div>
    <div class="text-center mt-4 mb-4 ">
        <button type="button" class="btn btn-success" >    
            Contact Us
        </button>
    </div>
    <p class="text-center fs-6 fw-light mt-2 mb-2">Copyright©️2023, @asheshjyoti </p>
</div>

</body>
</html>