<div class="row  ">
    <div class="col-lg-9 col-sm-9 col-9 ">
        <h4 class=" text-primary text-opacity-630 mt-3">
            {{jobs['title']}}
        </h4>
        <div class="fs-6 text-muted" style="font-weight: 500;">
            <b>Location: </b>{{jobs['location']}} 
        </div>
        <div class="fs-6 text-muted border-bottom" style="padding-bottom: 8px">
            <b>Salary: </b>{{jobs['salary']}}
        </div>
    </div>


       
        <div class="col-lg-3 col-sm-3 col-3 d-flex align-items-center">
                     
            <div class="text-center">
                <button type="button" class="btn btn-outline-primary">Apply</button>
            </div>
        </div>

    
     
</div>
