<div class="row mx-auto" style="width: 900px";>
    <div class="col-9">
        <h4 style="font-size: x-large; font-family: tahoma;font-weight:bold;  " class=" text-primary text-opacity-630 mt-3">
            {{jobs['title']}}
        </h4>
        <div class="fs-6 text-muted" style="font-weight: 500;">
            <b>Location: </b>{{jobs['location']}} 
        </div>
        <div class="fs-6 text-muted border-bottom" style="padding-bottom: 8px">
            <b>Salary: </b>{{jobs['salary']}}
        </div>
    </div>
    
    
        <div class="col-3 align-self-center mx-auto">
            
            <button type="button" class="btn btn-outline-primary ">Apply</button>
            

        </div>
    
</div>